<body class="p-10">

    <h1>
        Ava's Blog
    </h1>

    <h2>
        Recent Posts
    </h2>

    <ol class="pl-5 list-disc">
        <li>
            <a href="/posts/state-of-the-dao-2024" class="text-blue-500 hover:underline">
                State Of The DAO 2024
            </a>
        </li>
    </ol>

</body>
