---
import MainLayout from '../layouts/MainLayout.astro'
import Section from '../components/sections/Section.astro'
import '../styles/globals.css'
---

<MainLayout
  	title="Grants — Ava's DAO"
  	description="Ava Nakamoto showcases her life's work in a DAO that carries on where her father left off in 2010."
>
	<Section>
		<div class="mt-[135px]" />

		<h1>
			Apply For A Grant
		</h1>

		<p class="p-5 text-xl leading-9">
			coming soon...
		</p>

		<div class="mb-[30px]" />
	</Section>
</MainLayout>
