---
import MainLayout from '../layouts/MainLayout.astro'
import Section from '../components/sections/Section.astro'
import '../styles/globals.css'
---

<MainLayout
  	title="Grants — Ava's DAO"
  	description="Ava Nakamoto showcases her life's work in a DAO that carries on where her father left off in 2010."
>
	<Section>
		<div class="mt-[135px]" />

		<h1>
			Apply For A Grant
		</h1>

		<p class="p-5 text-xl leading-9">
			Thank you for your interest in Ava's Grants Program.
			Our goal is to support explorations and contributions to Ava's DAO and its ecosystem.
		</p>

		<p class="p-5 text-xl leading-9">
			The Ava's Inspirations page offers ideas for applications, libraries, and tooling:
		</p>

		<ul class="pl-16 list-disc">
			<li>
				The program rewards completed work and milestones with retroactive funding.
			</li>

			<li>
				Inspirations listed above are minimally selective and do not guarantee grant eligibility.
			</li>

			<li>
				Not sur eif your project falls within scope?
				Submit the form and our team will reach out to discuss with you.
			</li>
		</ul>

		<p class="p-5 text-xl leading-9">
			For questions, reach out to us at support [at] avasdao [dot] org
		</p>

		<div class="mb-[30px]" />
	</Section>
</MainLayout>
