---
import MainLayout from '../layouts/MainLayout.astro'
import Section from '../components/sections/Section.astro'
import '../styles/globals.css'
---

<MainLayout
  	title="Transparency — Ava's DAO"
  	description="Ava Nakamoto showcases her life's work in a DAO that carries on where her father left off in 2010."
>
	<Section>
		<div class="mt-[135px]" />

		<h1>
			Transparency
		</h1>

		<p class="p-5 text-xl leading-9">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			Quis ea accusamus deserunt magnam natus necessitatibus consequuntur ducimus corporis?
			In, dolorem quod.
			Voluptatem, voluptas corrupti?
			Quod, mollitia.
			Veniam magni beatae vero?
		</p>

		<div class="mb-[30px]" />
	</Section>
</MainLayout>
