---
import moment from 'moment'

import MainLayout from '../layouts/MainLayout.astro'
import Section from '../components/sections/Section.astro'
import '../styles/globals.css'
---

<MainLayout
  	title="Transparency — Ava's DAO"
  	description="Ava Nakamoto showcases her life's work in a DAO that carries on where her father left off in 2010."
>
	<Section>
		<div class="mt-[135px]" />

		<header class="sm:px-3 text-rose-600 font-medium tracking-widest opacity-50">
            <h1 class="text-3xl sm:text-4xl uppercase">
                Ava's DAO
            </h1>

            <h1 class="text-4xl sm:text-6xl uppercase">
                Transparency
            </h1>

            <h3 class="text-lg sm:text-2xl">
                {moment().format('MMMM YYYY')}
            </h3>
        </header>

        <section class="px-5 my-5">
            <h3 class="text-2xl text-rose-700 font-bold">
                Don't Trust. Verify!
            </h3>

            <p class="text-base text-gray-800 italic">
                Ava is well-respected for her natural ability to lead by example.
                Her DAO has committed to FULL transparency to its community by utilizing the on-chain financial &amp; data capabilities of blockchain-based networks & services in 100% of its activities.
            </p>
        </section>

        <section class="px-5 my-5">
            <h2>
                State of the DAO Annual Reports
            </h2>

            <ol class="pl-10 list-disc leading-9">
                <li>
                    <a href="/posts/state-of-the-dao-2023" class="text-blue-500 hover:underline">
                        Ava's DAO 2023
                    </a>
                </li>

                <li>
                    <a href="/posts/state-of-the-dao-2024" class="text-blue-500 hover:underline">
                        Ava's DAO 2024
                    </a>
                </li>
            </ol>
        </section>

        <!-- <section>
            <h2 class="text-2xl text-rose-800 font-medium tracking-widest uppercase">
                Staked Assets
            </h2>

            <div class="grid grid-cols-2 gap-6">
                <div>
                    <h2 class="text-2xl text-rose-700 font-light tracking-tighter">
                        Circulated
                    </h2>

                    <p class="text-sm">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id eius voluptatem minus natus at eveniet dolorum eos mollitia, maxime animi excepturi harum omnis illum odit recusandae pariatur! Unde, explicabo molestias.
                    </p>
                </div>

                <div>
                    <h2 class="text-2xl text-rose-700 font-light tracking-tighter">
                        Non-Circulated
                    </h2>

                    <p class="text-sm">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id eius voluptatem minus natus at eveniet dolorum eos mollitia, maxime animi excepturi harum omnis illum odit recusandae pariatur! Unde, explicabo molestias.
                    </p>
                </div>
            </div>
        </section> -->

        <!-- <section>
            <h2 class="text-2xl text-rose-800 font-medium tracking-widest uppercase">
                Treasury Streams
            </h2>

            <div class="grid grid-cols-2 gap-6">
                <div>
                    <h2 class="text-2xl text-rose-700 font-light tracking-tighter">
                        Causes Cash DAO
                    </h2>

                    <p class="text-sm">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id eius voluptatem minus natus at eveniet dolorum eos mollitia, maxime animi excepturi harum omnis illum odit recusandae pariatur! Unde, explicabo molestias.
                    </p>
                </div>

                <div>
                    <h2 class="text-2xl text-rose-700 font-light tracking-tighter">
                        Nexa Garden DAO
                    </h2>

                    <p class="text-sm">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id eius voluptatem minus natus at eveniet dolorum eos mollitia, maxime animi excepturi harum omnis illum odit recusandae pariatur! Unde, explicabo molestias.
                    </p>
                </div>

                <div>
                    <h2 class="text-2xl text-rose-700 font-light tracking-tighter">
                        Nexa Exchange DAO
                    </h2>

                    <p class="text-sm">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id eius voluptatem minus natus at eveniet dolorum eos mollitia, maxime animi excepturi harum omnis illum odit recusandae pariatur! Unde, explicabo molestias.
                    </p>
                </div>

                <div>
                    <h2 class="text-2xl text-rose-700 font-light tracking-tighter">
                        Nexa Shell DAO
                    </h2>

                    <p class="text-sm">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id eius voluptatem minus natus at eveniet dolorum eos mollitia, maxime animi excepturi harum omnis illum odit recusandae pariatur! Unde, explicabo molestias.
                    </p>
                </div>

                <div>
                    <h2 class="text-2xl text-rose-700 font-light tracking-tighter">
                        Nexa Rocks! DAO
                    </h2>

                    <p class="text-sm">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id eius voluptatem minus natus at eveniet dolorum eos mollitia, maxime animi excepturi harum omnis illum odit recusandae pariatur! Unde, explicabo molestias.
                    </p>
                </div>
            </div>

            <p class="px-5 py-5 text-lg text-rose-700 font-light text-center italic">
                * NOTE: All future <span class="font-medium">Stakehouse Airdrops</span> will begin shortly after the <span class="font-medium">1st Nexa halvening</span> event, scheduled for approximately June of 2026.
            </p>
        </section> -->

		<div class="mb-[30px]" />
	</Section>
</MainLayout>
